h1{
    display: inline-block;
}
.row-header .col-12{
    align-items: center;
    display: flex;
    column-gap: 25px;
}
.row-header{
    margin: 50px 0;
}

/*admin start*/
.allert-cont {
    position: absolute;
    right: 0;
}
.tarif-list {
    padding: 8px 12px;
    border-radius: .25rem;
    background-color: #f1f1f1;
}
.d-none {
    display: none;
}
/*admin end*/